{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Definir Nova Senha - On Call{% endblock %}
{% block content %}
    <div class="row justify-content-center min-vh-100 align-items-center py-5">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="text-center mb-4">
                <h1 class="h3 fw-bold text-primary">On Call</h1>
                <p class="text-muted">Recuperação de Acesso</p>
            </div>
            <div class="card card-login bg-white p-4 shadow-sm">
                <div class="card-body">
                    {% if token_fail %}
                        <div class="text-center">
                            <div class="mb-3 text-danger">
                                <i class="bi bi-x-circle-fill display-4"></i>
                            </div>
                            <h4 class="card-title fw-bold">Link Inválido</h4>
                            <p class="text-muted mb-4">Esse link de recuperação de senha não é mais válido ou já foi utilizado.</p>
                            <div class="d-grid">
                                <a href="{% url 'account_reset_password' %}" class="btn btn-primary">Solicitar novo link</a>
                            </div>
                        </div>
                    {% else %}
                        <h4 class="card-title mb-4 fw-bold">Criar nova senha</h4>
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-primary btn-lg">Salvar Nova Senha</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
