# --- Segurança ---

.env

# --- Django Core ---

*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# --- Ambientes Virtuais ---

.venv/
venv/
env/

# --- IDEs e Editores ---
.vscode/
.idea/

# --- Python ---
*.egg-info/
dist/
build/