<script>
    // Função Copiar Link
    function copyLink(event) {
        var copyText = document.getElementById("inviteLinkInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);

        var btn = event.target;
        var originalText = btn.innerText;
        btn.innerText = "Copiado!";
        btn.classList.replace("btn-outline-primary", "btn-success");
        btn.classList.add("text-white");

        setTimeout(function() {
            btn.innerText = originalText;
            btn.classList.replace("btn-success", "btn-outline-primary");
            btn.classList.remove("text-white");
        }, 2000);
    }

    // Função Modal Delete Dinâmico
    document.addEventListener('DOMContentLoaded', function() {
        var deleteModal = document.getElementById('deleteModal');
        if (deleteModal) {
            deleteModal.addEventListener('show.bs.modal', function(event) {
                var button = event.relatedTarget;
                var actionUrl = button.getAttribute('data-bs-action');
                var form = deleteModal.querySelector('#deleteForm');
                form.action = actionUrl;
            });
        }
    });
</script>
